In [1]:
import pandas as pd

In [8]:
df=pd.read_json("./updated_universities.json")
df.head()

,serialNumber,name,location,yearEstablished,website,type,programmes
0,1,Abubakar Tafawa Balewa University,"Bauchi, Bauchi State",1988,www.atbu.edu.ng,Federal,"{'ADMINISTRATION': ['Accounting', 'Banking and..."
1,2,Ahmadu Bello University,"Zaria, Kaduna State",1962,www.abu.edu.ng,Federal,"{'ADMINISTRATION': ['Accounting', 'Business Ad..."
2,3,Air Force Institute of Technology,"Kaduna, Kaduna State",2018,www.afit.edu.ng,Federal,"{'ADMINISTRATION': ['Accounting', 'Banking and..."
3,4,Alex Ekwueme Federal University,"Ndufu Alike, Ikwo, Ebonyi State",2011,www.funai.edu.ng,Federal,"{'ADMINISTRATION': ['Accounting', 'Banking and..."
4,5,Bayero University,"Kano, Kaduna State",1975,www.buk.edu.ng,Federal,"{'ADMINISTRATION': ['Accounting', 'Banking and..."

In [4]:
df["type"].str.contains("Federal")

0       True
1       True
2       True
3       True
4       True
       ...
148    False
149    False
150    False
151    False
152    False
Name: type, Length: 153, dtype: bool