In [1]:
import pandas as pd

In [13]:
df=pd.read_json("./updated_universities.json")
df.head()

,serialNumber,name,location,yearEstablished,website,type,programmes
0,1,Abubakar Tafawa Balewa University,"Bauchi, Bauchi State",1988,www.atbu.edu.ng,Federal,"{'ADMINISTRATION': ['Accounting', 'Banking and..."
1,2,Ahmadu Bello University,"Zaria, Kaduna State",1962,www.abu.edu.ng,Federal,"{'ADMINISTRATION': ['Accounting', 'Business Ad..."
2,3,Air Force Institute of Technology,"Kaduna, Kaduna State",2018,www.afit.edu.ng,Federal,"{'ADMINISTRATION': ['Accounting', 'Banking and..."
3,4,Alex Ekwueme Federal University,"Ndufu Alike, Ikwo, Ebonyi State",2011,www.funai.edu.ng,Federal,"{'ADMINISTRATION': ['Accounting', 'Banking and..."
4,5,Bayero University,"Kano, Kaduna State",1975,www.buk.edu.ng,Federal,"{'ADMINISTRATION': ['Accounting', 'Banking and..."

In [17]:
df.drop(columns=["yearEstablished"]).head()

,serialNumber,name,location,website,type,programmes
0,1,Abubakar Tafawa Balewa University,"Bauchi, Bauchi State",www.atbu.edu.ng,Federal,"{'ADMINISTRATION': ['Accounting', 'Banking and..."
1,2,Ahmadu Bello University,"Zaria, Kaduna State",www.abu.edu.ng,Federal,"{'ADMINISTRATION': ['Accounting', 'Business Ad..."
2,3,Air Force Institute of Technology,"Kaduna, Kaduna State",www.afit.edu.ng,Federal,"{'ADMINISTRATION': ['Accounting', 'Banking and..."
3,4,Alex Ekwueme Federal University,"Ndufu Alike, Ikwo, Ebonyi State",www.funai.edu.ng,Federal,"{'ADMINISTRATION': ['Accounting', 'Banking and..."
4,5,Bayero University,"Kano, Kaduna State",www.buk.edu.ng,Federal,"{'ADMINISTRATION': ['Accounting', 'Banking and..."

In [11]:
Location="abuja"
Location=Location.capitalize()
df[df["location"].str.contains(Location)]

,serialNumber,name,location,yearEstablished,website,type,programmes
13,14,National Open University of Nigeria,"Abuja, FCT",2002,www.nou.edu.ng,Federal,"{'ADMINISTRATION': ['Accounting', 'Banking and..."
92,93,Baze University,"Abuja, FCT",2011,www.bazeuniversity.edu.ng,Private,"{'ADMINISTRATION': ['Accounting', 'Banking and..."
128,129,Nile University of Nigeria,"Abuja, FCT",2009,www.nileuniversity.edu.ng,Private,"{'Administration': ['Accounting', 'Banking and..."
148,149,Veritas University,"Abuja, FCT",2007,www.veritas.edu.ng,private,"{'Administration': ['Accounting', 'Banking and..."